<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'meta_tags.njk' %}
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/assets/styles/style.css"/>
        <link rel="stylesheet" href="/assets/styles/prism.css"/>
        <link rel="icon" href="/assets/images/logo_marbled.svg"/>
    </head>
    <body>
        <div class="root-body">
            {% include 'header.njk' %}
            <main class="wrapper">
                {{ content | safe }}
            </main>
            {% include 'footer.njk' %}
        </div>
    </body>
</html>