<header>
    <div class="header-wrapper">
        <div class="website-title">
            <div class="website-logo">
                <img src="/assets/images/logo_marbled.svg" alt="Trevor Claridge logo">
            </div>
            <div class="website-title-text">
                <p class="website-title-text-main">
                    <a href="/">MAKE IT ALL</a>
                </p>
                <p class="website-title-by-line">by Trevor Claridge</p>
            </div>
        </div>
        <nav class="primary-navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>