<header>
    <div class="header-wrapper">
        <p class="website-title">
            <a href="/">Trevor Claridge</a>
        </p>
        <nav class="primary-navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
    </div>
</header>