<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="The personal blog website of Trevor Claridge."/>
<meta name="keywords" content="Tabletop Role-playing Games, Game Design, Software Development, Blog"/>
<meta name="author" content="Trevor Claridge"/>
<meta property="og:site_name" content="trevclaridge.com"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https:/trevclaridge.com{{ page.url }}"/>
<meta name="twitter:card" content="summary_large_image"/>
{% if page.url == "/" %}
    <meta property="og:title" content="Trevor Claridge | trevclaridge.com"/>
    <meta property="og:description" content="The personal blog website of Trevor Claridge."/>
    <meta property="og:image" content="https://trevclaridge.com/assets/images/logo_marbled.jpg"/>
    <meta property="og:image:secure_url" content="https://trevclaridge.com/assets/images/logo_marbled.jpg"/>
    <meta property="og:image:alt" content="Trevor Claridge logo."/>
    <meta name="twitter:image:src" content="https://trevclaridge.com/assets/images/logo_marbled.jpg"/>
{% else %}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ subtitle }}"/>
    <meta property="og:image" content="https://trevclaridge.com{{ page.url }}{{ img }}"/>
    <meta property="og:image:secure_url" content="https://trevclaridge.com{{ page.url }}{{ img }}"/>
    <meta property="og:image:alt" content="{{ img_alt }}"/>
    <meta name="twitter:image:src" content="https://trevclaridge.com{{ page.url }}{{ img }}"/>
{% endif %}