---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed: 
  title: "Tagged \"{{ tag }}\""
---

<h1>Tagged “{{ tag }}”</h1>
<ul class="archive-posts">
    {% set taglist = collections[ tag ] %}
    {% for post in taglist | reverse %}
        <li class="post-card archive">
            <a href="{{ post.url }}">
                <div class="post-card-details">
                    <p class="post-card-title archive">{{ post.data.title }}</p>
                    <p class="post-card-subtitle archive">{{ post.data.subtitle }}</p>
                    <p class="post-card-date archive">{{ post.date | formatDate }}</p>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>