---
title: trevclaridge.com
layout: 'base.njk'
---

<h1>Recent Posts</h1>
<ul class="recent-posts">
    {% for post in collections.post | reverse %}
        {% if loop.index0 < 3 %}
            <li class="post-card">
                <a href="{{ post.url }}">
                    <img src="{{ post.data.img }}" alt="{{ post.data.img_alt }}">
                        <div class="post-card-details">
                            <p class="post-card-title">{{ post.data.title }}</p>
                            <p class="post-card-subtitle">{{ post.data.subtitle }}</p>
                        </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>