* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-image: url("../../assets/images/marbled_paper.png");
    background-size: cover;
    background-position: left;
    font-size: 2rem;
}

.header-wrapper {
    margin-inline: 1em;
    margin-block: 1em;
    display: block;
}

@media (min-width: 700px) {
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
    }
}

.website-title {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    border: 5px solid red;
}

@media (min-width: 500px) {
    .website-title {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        background-color: white;
        padding: 30px;
        border: 5px solid red;
    }
}

.website-title-by-line {
    color: black;
    font-size: 1.4rem
}

.website-logo {
    display: flex;
    align-items: center;
    text-align: center;
}

.website-title img {
    margin: auto;
    max-width: 3em;
}

.header-wrapper p {
    margin: 0;
}

.header-wrapper a {
    color: red;
    text-decoration: none;
}

.header-wrapper a:hover {
    text-decoration: underline;
}

.primary-navigation {
    border: 5px solid red;
    background-color: white;
    padding: 0.6em;
    display: flex;
    justify-content: center;
    margin-top: 0.4em;
}

@media (min-width: 700px) {
    .primary-navigation {
        margin: 0;
    }
}

.primary-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

@media (min-width: 700px) {
    .primary-navigation ul {
        list-style-type: none;
        gap: 20px;
        display: flex
    }
}

main {
    padding: 1.5rem;
}

h1 {
    color: #dd7878
}

h2 {
    color: #de9593
}

h3 {
    color: #4f999f
}

img {
    display: block;
    width: 100%;
    height: auto;
}

mark {
    background-color: #f2d5c6;
    padding: 3px;
}

.root-body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.wrapper {
    margin-inline: auto;
}

.recent-posts {
    list-style-type: none;
}

.recent-posts li {
    margin-bottom: 3em;
}

.post-card {
    margin-block: 20px;
}

.post-card a {
    font-size: 2rem;
    text-decoration: none;
    color: #de9593;
}

@media (min-width: 700px) {
    .post-card a {
        display: flex;
        gap: 20px;
    }
}

.post-card img {
    object-fit: cover;
    object-position: center;
    max-inline-size: 10em;
}

.post-card a:focus-visible,
.post-card a:hover {
    text-decoration: underline;
}

.post-card-title {
    font-size: 2rem;
    margin-block: 0;
}

.post-card-subtitle {
    font-size: 1.2rem;
    margin-block: 0.5em;
    color: black;
    font-style: italic;
}

.article-snippet {
    max-inline-size: 70ch;
}

.article-title {
    text-align: center;
    font-size: 3rem;
    margin-block-end: 0.2em;
}

.article-subtitle {
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 2.3em;
    font-style: italic;
    opacity: 0.7;
}

.article-image {
    object-fit: cover;
    object-position: center;
    max-height: 20em;
    object-position: center;
}

.article-content {
    line-height: 1.8;
}

.article-content li:not(:first-of-type) {
    margin-top: 20px;
}

footer {
    background-image: url("../../assets/images/marbled_paper.png");
    background-position: right;
    background-size: cover;
    padding: 0.8rem;
}

.copyright {
    border: 5px solid red;
    color: red;
    background-color: white;
    padding: 30px;
    font-size: 1rem;
    text-align: center;
}