* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #22213b;
    color: white;
    font-size: 2rem;
}

.header-wrapper {
    margin-inline: 30px;
    margin-block: 1em;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.website-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.website-title img {
    width: 70px;
}

.header-wrapper p {
    margin: 0;
}

.header-wrapper a {
    color: white;
    text-decoration: none;
}

.header-wrapper a:hover {
    text-decoration: underline;
}

.primary-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    display: flex
}

h1 {
    color: #dd7878
}

h2 {
    color: #de9593
}

h3 {
    color: #4f999f
}

img {
    display: block;
    width: 100%;
    height: auto;
}

mark {
    background-color: #f2d5c6;
    padding: 3px;
}

.wrapper {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.article-snippet {
    margin-inline: auto;
    padding: 30px;
    max-width: 800px;
}

.article-title {
    text-align: center;
    font-size: 3rem;
}

.article-subtitle {
    text-align: center;
    margin-block: 2em;
    font-style: italic;
    opacity: 0.7;
}

.article-image {
    object-fit: cover;
    object-position: center;
    max-height: 20em;
    object-position: center;
}

.article-content {
    line-height: 1.8;
}

footer {
    background-color: #22213b;
    color: white;
    padding: 1.2rem;
}

.copyright {
    font-size: 1rem;
    text-align: center;
}